<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleExecutable</key>
  <string>DeepFacedCameraExtension</string>
  <key>CFBundleIdentifier</key>
  <string>app.deepfaced.mac.camera-extension</string>
  <key>CFBundleName</key>
  <string>Deep Faced Camera Extension</string>
  <key>CFBundleDisplayName</key>
  <string>Deep Faced Camera</string>
  <key>CFBundlePackageType</key>
  <string>SYSX</string>
  <key>CFBundleShortVersionString</key>
  <string>0.1.0</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>NSExtension</key>
  <dict>
    <key>NSExtensionPointIdentifier</key>
    <string>com.apple.cmio-extension</string>
    <key>NSExtensionPrincipalClass</key>
    <string>$(PRODUCT_MODULE_NAME).DeepFacedCameraExtension</string>
  </dict>
</dict>
</plist>
